# Ignore Excel files
*.xlsx

# Ignore CSV files
*.csv

# Ignore Jupyter Notebook files
*.ipynb

# ignoring newly written pickle file
dict.pickle
todo.txt
words.txt
__pycache__/
*.py[cod]
*$py.class
.idea/
__pycache__
/data/
/tools/
test_env
build
dist

